@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div #formcol1 {
	float:left;	
	width: 100%;
}

/*new additions*/

label {
	margin-right: .5em;
	width: 6.3em;
	display: inline-block;
}

#formcol1 li label {
    text-align:right;
}

#formcol1 li {
	list-style:none;
}

.required {
	color: red;
	font-weight: bold;
}

#formcol1 li label {
    text-align:right;
}

select:focus, select:active, input:focus, input:active, input:focus + label, 
input:active + label, label[for]:focus, label[for]:active {
    color: #FFF !important;
    background-color: #BB3D2F !important;
} 

#formcol1 input.reqfield {
    background:#FF9;
}
/* end of form css */
	
